@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import './vars.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', Verdana, sans-serif;
}

// Default rules
ul {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}
// Layout
.container {
    margin: 0 auto;
    padding: 0 0.5rem;
    max-width: 1200px;
}

.section {
    padding: 5rem 0;
    background-color: $pj-section_bg_ligth;
}

// Components
.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

// Button
.btn {
    border-radius: 1.25rem;
    padding: 0.75rem 1.25rem;

    &.btn_primary {
        font-weight: bold;
        color: $pj-text_white;
        background-color: $pj-btn_bg;
    }

    &.btn_alternative {
        font-weight: bold;
        color: $pj-text_white;
        background-color: $pj-btn_bg_alternative;
    }
}

// Badge
.badge {
    font-size: 0.75rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: 2px solid transparent;

    &.badge_primary {
        font-weight: bold;
        color: $pj-text_hover;
        border: 2px solid $pj-text_hover;
    }
}

.item_link {

    &:hover {
        .badge {
            color: $pj-text_white;
            background-color: $pj-text_hover;
        }
    }
}