@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import './vars.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', Verdana, sans-serif;
}

// Default rules
ul {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

// Layout
.container {
    margin: 0 auto;
    padding: 0 0.5rem;
    max-width: 1200px;
}

.section {
    padding-top: 5rem;
    background-color: $pj-section_bg_ligth;
}

// Components
.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.component_wrapper {
    .component_title {
        padding-bottom: 1.5rem;
    }
    .component_desc{
        line-height: 1.75rem;
        padding-bottom: 1.5rem;
    }
    .component_link{
        color: $pj-text_hover;
    }
}

.header_component {
    gap: 1rem;
    display: flex;
    flex-basis: 400px;
    flex-direction: column;

    text-align: center;

    .component_title {
        line-height: 2.25rem;
    }

    .component_desc {
        line-height: 1.75rem;
    }
}

// Button
.btn {
    border-radius: 1.25rem;
    padding: 0.75rem 1.25rem;

    &.btn_primary {
        font-weight: bold;
        color: $pj-text_white;
        background-color: $pj-btn_bg;
    }

    &.btn_alternative {
        font-weight: bold;
        color: $pj-text_white;
        background-color: $pj-btn_bg_alternative;
    }

    &.btn_border{
        font-weight: bold;
        border: 1px solid $pj-btn_border_gray;

        &:hover{
            color: $pj-text_white;
            border: 1px solid $pj-btn_bg;
            background-color: $pj-btn_bg;
        }
    }
}

// Badge
.badge {
    font-size: 0.75rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: 2px solid transparent;

    &.badge_primary {
        font-weight: bold;
        color: $pj-text_hover;
        border: 2px solid $pj-text_hover;
    }
}

.item_link {

    &:hover {
        .badge {
            color: $pj-text_white;
            background-color: $pj-text_hover;
        }
    }
}

// Card
.content{
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card_component {
        flex-basis: 100%;

        gap: 1rem;
        display: flex;
        justify-content: center;

        .card_wrapper {
            text-align: center;
            padding: 2.5rem 1.5rem;

            .card_icon {
                font-size: 1.5rem;
                padding-bottom: 1.5rem;
                color: $pj-text_hover;
            }
        }
    }
}