$pj-btn_bg: #FFA837;
$pj-btn_bg_alternative: #556EEE;
$pj-btn_border_gray: #444;

$pj-text_white: #fff;
$pj-text_black: #111;
$pj-text_hover: #D98A40;
$pj-text_alternative: #617CFC;

$pj-jumbo_default: rgb(49,27,91);
$pj-jumbo_gradient: linear-gradient(161deg, rgba(49,27,91,1) 0%, rgba(164,62,88,1) 45%, rgba(255,157,71,1) 100%);
$pj-section_bg_ligth: #F7F8FA;
$pj-section_bg_dark: #071B50;
$pj-section_bg_darker: #051642;